
.gris-claro {
    background-color: #E6E6E6;
}

.gris-oscuro {
    background-color: #C4C4C4;
}

.centro {
    text-align: center;
}

.titulos-color {
    color: #005677;
    line-height: -5px;
    letter-spacing: 10px;
}

.back-footer {
    background-color: #005677;
    color: #fff;
    text-align: center;
}

.box {
    margin-top: -20px;
    margin-bottom: -21px;
    margin-left: -10px;
    margin-right: -10px;
}

.box-titulos {
    margin-left: -8px;
    margin-right: -10px;
}

.list-marg {
    margin-left: 40px;
}

.img-marg {
    margin-top: 3px;
}

hr {
    width: 200;
}
